<footer>
    <a href = '/'>
        <img src = '/Assets/luma_fullLogo_white.svg' id = 'footerLogo'>
    </a>
    <nav id = 'footerNav'>
        <a href = '/about'>About</a>
        <a>FAQ's</a>
        <a href = '/contact'>Contact</a>   
    </nav>
    
</footer>