<footer>
    <a><div id = 'footerLogoContainter'>
        <div id = 'logoPlaceholder'></div>
        <div id = 'shopName'>Shop Name</div>
    </div></a>
    <nav id = 'footerNav'>
        <a>About</a>
        <a>FAQ's</a>
        <a>Contact</a>   
    </nav>
    
</footer>