<header>
    <a id = 'headerLogoLink' href = '/'>
        <img src = '/Assets/luma_fullLogo.svg'>
    </a>
    
    <nav>
        <a>Tops</a>
        <a>Pants & Dresses</a>
        <a>Outerwear</a>
        <a>Shoes</a>
        <a href = '/products'>All Clothing</a>
        <div id = 'searchContainer'>
            <label for = 'searchBar' id = 'searchBarLabel'>Search:</label>
            <input type = 'search' id = 'searchBar' name = 'serachBar'>
        </div>
        <a id = 'shoppingBagLink' href = '/shoppingBag'>
            <p>10</p>
            <img src = '/Assets/shoppingBag.svg'>
        </a>
    </nav>
</header>