<header>
    <a id = 'headerLogoLink' href = '/'>
        <img src = '/Assets/luma_fullLogo.svg'>
    </a>
    
    <nav>
        <a href = '/category/tops'>Tops</a>
        <a href = '/category/pantsAndDresses'>Pants & Dresses</a>
        <a href = '/category/outerwear'>Outerwear</a>
        <a href = '/category/shoes'>Shoes</a>
        <a href = '/products'>All Clothing</a>
        <div id = 'searchContainer'>
            <label for = 'searchBar' id = 'searchBarLabel'>Search:</label>
            <input type = 'search' id = 'searchBar' name = 'serachBar'>
        </div>
        <a id = 'shoppingBagLink' href = '/shoppingBag'>
            <p>10</p>
            <img src = '/Assets/shoppingBag.svg'>
        </a>
    </nav>
</header>