
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.typekit.net/onz0fng.css">
    <link rel = 'stylesheet' href = '/Stylesheets/generalStylesheet.css'>
    <link rel = 'stylesheet' href = '/Stylesheets/header.css'>
    <link rel = 'stylesheet' href = '/Stylesheets/footer.css'>
    <link rel = 'icon' href = '/Assets/logos/lumaLogo_mini@120px.png'>
    <title>Luma Clothing</title>
