<header>
    <a id = 'headerLogoLink' href = 'index.ejs'>
        <img src = 'Assets/luma_fullLogo.svg'>
    </a>
    
    <nav>
        <a>Tops</a>
        <a>Bottoms</a>
        <a>Outerwear</a>
        <a>All Clothing</a>
        <div id = 'searchContainer'>
            <label for = 'searchBar' id = 'searchBarLabel'>Search:</label>
            <input type = 'text' id = 'searchBar' name = 'serachBar'>
        </div>
        <a id = 'shoppingBagLink'>
            <p>10</p>
            <img src = 'Assets/shoppingBag.svg'>
        </a>
    </nav>
</header>