<header>
    <a><div id = 'headerLogoContainter'>
        <div id = 'logoPlaceholder'></div>
        <div id = 'shopName'>Shop Name</div>
    </div></a>
    
    <nav>
        <a>Tops</a>
        <a>Bottoms</a>
        <a>Outerwear</a>
        <div id = 'searchContainer'>
            <label for = 'searchBar' id = 'searchBarLabel'>Search:</label>
            <input type = 'text' id = 'searchBar' name = 'serachBar'>
        </div>
        <a><div id = 'bagPlaceholder'></div></a>
    </nav>
</header>