<header>
    <a id = 'headerLogoLink' href = '/'>
        <img src = '/Assets/luma_fullLogo.svg'>
    </a>
    
    <nav>
        <a href = '/category/tops'>Tops</a>
        <a href = '/category/pantsAndDresses'>Pants & Dresses</a>
        <a href = '/category/outerwear'>Outerwear</a>
        <a href = '/category/shoes'>Shoes</a>
        <a href = '/allClothing'>All Clothing</a>
        <form method = 'GET' id = 'searchContainer' role = 'search'>
            <label for = 'q' id = 'searchBarLabel'>Search:</label>
            <input type = 'search' id = 'searchBar' name = 'query'>
        </form>
        <a id = 'shoppingBagLink' href = '/shoppingBag'>
            <p id = 'numBagItems'>&nbsp;</p>
            <img src = '/Assets/shoppingBag.svg'>
        </a>
    </nav>
</header>

<script src = '/JavaScript/search.js'></script>
<script src = '/JavaScript/numItemsInBag.js'></script>