<!DOCTYPE html>
<html lang="en">
<head>
    <title>Luma | About</title>
    <%- include('partials/head')%>
    <link rel = 'stylesheet' href = '/Stylesheets/about.css'>
</head>
<body>
    
    <%- include('partials/header')%>

    <main>
        <h1>About Us</h1>
        <p id = 'description'>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic ex neque pariatur quos magnam, quia debitis perferendis temporibus distinctio atque perspiciatis mollitia consequatur autem culpa minus voluptates aliquid illo officia.
        Beatae quis esse sit reprehenderit est delectus quia, minus laborum animi in deleniti facilis! Porro perferendis dolorem corporis? Harum reprehenderit distinctio hic nulla sequi officiis. Iusto earum ipsa ipsum quo?
        Dicta, quas vel. Sequi earum ad tempore, dolores voluptates enim facere impedit voluptatibus nisi ipsa totam nostrum ab reprehenderit nesciunt optio aliquid repellat amet perspiciatis debitis odio. Libero, sed vel.
        Voluptatem, officia ipsam! Ipsa dolor enim.</p>
        <p>Dolore vel velit asperiores? Nemo molestiae aperiam eum minus voluptate amet fugit odio deserunt nihil saepe nobis illum similique corporis reiciendis, aut doloribus accusamus!
        Ea beatae id voluptatem obcaecati modi autem fugiat fuga libero facere rerum ab molestiae animi veritatis amet explicabo sit atque, repudiandae dignissimos voluptatum quibusdam eum nisi illum quos nulla. Cupiditate.
        Nemo minus, ratione rem mollitia laborum odit accusamus.</p>
        <p id = 'photoCredP'> All site photography by<a href = 'https://unsplash.com/@laurachouette?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText' target = '_blank'>Laura Chouette</a>on<a href = 'https://unsplash.com/' target = '_blank'>Unsplash.</a></p>

    </main>

    <%- include('partials/footer')%>
</body>
</html>