<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head')%>
    <link rel = 'stylesheet' href = 'Stylesheets/checkoutStylesheet.css'>
</head>

<body>
    <%- include('partials/header')%>

    <main>
        <%- include('partials/checkout')%>

        <form>
            <h2> Your Info</h2>
            <div class = 'formDiv'>
                <label for = 'firstName'>First Name: </label>
                <input type = 'text' name = 'firstName' id = 'firstName' required>
            </div>
            
            <div class = 'formDiv'>
                <label for = 'lastName'>Last Name: </label>
                <input type = 'text' name = 'lastName' id = 'lastName' required>
            </div>
            
            <div class = 'formDiv'>
                <label for = 'email'>Email: </label>
                <input type = 'email' name = 'email' id = 'email' required>
            </div>
            
            <div class = 'formDiv'>
                <label for = 'phone'>Phone Number: </label>
                <input type = 'tel' name = 'phone' id = 'phone' required>  
            </div>

            <div id = 'submitDiv'>
                <submit>Next<img src = 'Assets/roundedArrow.svg' id = 'arrow'></submit>
            </div>
            
        </form>

    </main>

    <%- include('partials/footer')%> 
</body>
</html>