<!DOCTYPE html>
<html lang="en">
<head>
    <title>Luma | Checkout</title>
    <%- include('partials/head')%>
    <link rel = 'stylesheet' href = 'Stylesheets/thankyou.css'>
</head>

<body>
    <%- include('partials/header')%>

    <main>
        <h1>Thank you!</h1>
        <div id = 'thankyouNote'>
            <p>Your order has successfully been placed!</p>
            <p>Keep an eye on your inbox for a confirmation email shortly.</p>
        </div>
        
        <a id = 'returnBtn' href = '/'><img id = 'arrow' src = '/Assets/roundedArrow.svg'>Return home</a>

    </main>

    <%- include('partials/footer')%> 
</body>
</html>