<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head')%>
    <link rel = 'stylesheet' href = 'Stylesheets/thankyouStylesheet.css'>
</head>

<body>
    <%- include('partials/header')%>

    <main>
        <h1>Thank you!</h1>
        <div id = 'thankyouNote'>
            <p>Your order has successfully been placed!</p>
            <p>Keep an eye on your inbox for a confirmation email shortly.</p>
        </div>
        

    </main>

    <%- include('partials/footer')%> 
</body>
</html>