<!DOCTYPE html>
<html lang="en">
<head>
    <title>Luma | Checkout</title>
    <%- include('partials/head')%>
    <link rel = 'stylesheet' href = 'Stylesheets/checkout.css'>
</head>

<body>
    <%- include('partials/header')%>

    <main>
        <%- include('partials/checkout')%>

        <form class = 'form' action = 'checkout_thankyou' id = 'checkoutForm'>
            <h2>Review</h2>
            <div class = 'formDiv'>
                <div id = 'dontPayMe'>
                    <p><span>Hey there!</span></p>
                    <p>
                        Normally, this section would have a summary of all your order information. However, as this is only a demo site, I'd like to prevent people like you from accidentally paying me real money.
                    </p>
                    <p>
                        Therefore, this submit button is a dummy, and <span>will not process your payment information.</span> Thanks for visiting!
                    </p>
                </div>
            </div>

            <div id = 'submitDiv'>
                <a id = 'backLink' href = '/checkout_shipping'><img src = 'Assets/icons/roundedArrow_lightPink.svg' id = 'backArrow' class = 'arrow'>Back</a>
                <button id = 'orderBtn'>Submit Order</button>
            </div>
        </form>

    </main>

    <%- include('partials/footer')%> 
    <script src = '/JavaScript/checkout.js'></script>

</body>
</html>