<!DOCTYPE html>
<html lang="en">
<head>
    <title>Luma | Checkout</title>
    <%- include('partials/head')%>
    <link rel = 'stylesheet' href = 'Stylesheets/checkout.css'>
</head>

<body>
    <%- include('partials/header')%>

    <main>
        <%- include('partials/checkout')%>

        <form action = '/checkout_shipping' id = 'checkoutForm'>
            <h2> Your Info</h2>
            <div class = 'formDiv'>
                <label for = 'firstName'>First Name: </label>
                <input type = 'text' name = 'firstName' id = 'firstName' required>
            </div>
            
            <div class = 'formDiv'>
                <label for = 'lastName'>Last Name: </label>
                <input type = 'text' name = 'lastName' id = 'lastName' required>
            </div>
            
            <div class = 'formDiv'>
                <label for = 'email'>Email: </label>
                <input type = 'email' name = 'email' id = 'email' required>
            </div>
            
            <div class = 'formDiv'>
                <label for = 'phone'>Phone Number: </label>
                <input type = 'tel' name = 'phone' id = 'phone' required>  
            </div>

            <div id = 'submitDiv'>
                <div id = 'submitFiller'></div>
                <button id = 'submitBtn'>Next<img src = 'Assets/icons/roundedArrow_lightPink.svg' id = 'nextArrow' class = 'arrow'></button>
            </div>
            
        </form>

    </main>

    <%- include('partials/footer')%>
    <script src = '/JavaScript/checkout.js'></script>

</body>
</html>