<!DOCTYPE html>
<html lang="en">
<head>
    <title>Luma | Checkout</title>
    <%- include('partials/head')%>
    <link rel = 'stylesheet' href = 'Stylesheets/checkout.css'>
</head>

<body>
    <%- include('partials/header')%>

    <main>
        <%- include('partials/checkout')%>

        <form class = 'form' action = 'checkout_thankyou' id = 'checkoutForm'>
            <h2>Review</h2>
            <div class = 'formDiv'>
                This section will have order info
            </div>

            <div id = 'submitDiv'>
                <a id = 'backLink' href = '/checkout_shipping'><img src = 'Assets/icons/roundedArrow_lightPink.svg' id = 'backArrow' class = 'arrow'>Back</a>
                <button id = 'orderBtn'>Submit Order</button>
            </div>
        </form>

    </main>

    <%- include('partials/footer')%> 
    <script src = '/JavaScript/checkout.js'></script>

</body>
</html>