<!DOCTYPE html>
<html lang="en">
<head>
    <title>Luma | Contact</title>
    <%- include('partials/head')%>
    <link rel = 'stylesheet' href = '/Stylesheets/contactStylesheet.css'>
</head>
<body>
    
    <%- include('partials/header')%>

    <main>
        <h1>Let's get in touch</h1>
        <form action = '/contact_thankyou' id = 'contactForm'>
            <div class = 'formDiv'>
                <label for = 'firstName'>First Name: </label>
                <input type = 'text' name = 'firstName' id = 'firstName' required>
            </div>
            
            <div class = 'formDiv'>
                <label for = 'lastName'>Last Name: </label>
                <input type = 'text' name = 'lastName' id = 'lastName' required>
            </div>
            
            <div class = 'formDiv'>
                <label for = 'email'>Email: </label>
                <input type = 'email' name = 'email' id = 'email' required>
            </div>

            <div class = 'formDiv'>
                <label>Tell us what's up:</label>
                <textarea></textarea>
            </div>

            <div class = 'formDiv'>
                <button id = 'submit'>Submit</button>
            </div>
        </form>

    </main>

    <%- include('partials/footer')%>
</body>
</html>