<!DOCTYPE html>
<html lang="en">
<head>
    <title>Luma | Thanks!</title>
    <%- include('partials/head')%>
    <link rel = 'stylesheet' href = 'Stylesheets/thankyouStylesheet.css'>
</head>

<body>
    <%- include('partials/header')%>

    <main>
        <h1>Thank you!</h1>
        <div id = 'thankyouNote'>
            <p>We'll get in touch with you shortly.</p>
            <p>Keep an eye on your inbox (and don't forget to check your spam)!</p>
        </div>
        
        <a id = 'returnBtn' href = '/'><img id = 'arrow' src = '/Assets/roundedArrow.svg'>Return home</a>

    </main>

    <%- include('partials/footer')%> 
</body>
</html>