<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head')%>
    <link rel = 'stylesheet' href = 'Stylesheets/index.css'>
</head>

<body>
    
    <%- include('partials/header')%>

    <main>
        <div id = 'splashbox'>
            <a id = 'textBox' href = '/products/The Bowtie Blouse'>
                <h1><span id = 'mobileMeet'>Meet</span><span id = 'normalMeet'>Meet&nbsp;</span>The Bowtie Blouse</h1>
                <p id = 'caption'>A versatile take on the classic staple</p>
            </a>
        </div>

        <section id = 'trendingSection'>
            <div id = 'trendingGrid'>
                <h2 id = 'trendingHeader'>See What's Trending:</h2>
                <a class = 'trendingDiv' id = 'bluePeacoatDiv' href = '/products/The Blue Peacoat'><p class = 'caption'>The Blue Peacoat</p></a>
                <a class = 'trendingDiv' id = 'blackPumpsDiv' href = '/products/The Black Pumps'><p class = 'caption'>The Black Pumps</p></a>
                <a class = 'trendingDiv' id = 'laceCamiDiv' href = '/products/The Lace Cami'><p class = 'caption'>The Lace Cami</p></a>
                <a class = 'trendingDiv' id = 'bootiesDiv' href = '/products/The Block-Heeled Booties'><p class = 'caption'>The Block-Heeled Booties</p></a>
            </div>
        </section>
    </main>

    <%- include('partials/footer')%>
    
</body>
</html>