<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head')%>
    <link rel = 'stylesheet' href = 'Stylesheets/indexStylesheet.css'>
</head>

<body>
    
    <%- include('partials/header')%>

    <main>
        <h1>Call to Action</h1>

        <section id = 'trendingSection'>
            <h2 id = 'trendingHeader'>What's Trending:</h2>
            <div id = 'trendingGrid'>
                <a class = 'trendingDiv' id = 'bluePeacoatDiv' href = '/products/The Blue Peacoat'><p class = 'caption'>The Blue Peacoat</p></a>
                <a class = 'trendingDiv' id = 'graphicTdiv' href = '/products/The Graphic T'><p class = 'caption'>The Graphic T</p></a>
                <a class = 'trendingDiv' id = 'oversizedBlazerDiv' href = '/products/The Oversized Blazer'><p class = 'caption'>The Over-sized Blazer</p></a>
                <a class = 'trendingDiv' id = 'heelsDiv' href = '/products/The Block-Heeled Booties'><p class = 'caption'>The Block-Heeled Booties</p></a>
                <!-- <a><div class = 'trendingDiv'></div></a>
                <a><div class = 'trendingDiv'></div></a> -->
            </div>
        </section>
    </main>

    <%- include('partials/footer')%>
    
</body>
</html>