<%- include('partials/head')%>

<body>
    
    <%- include('partials/header')%>

    <main>
        <h1>Call to Action</h1>

        <section id = 'trendingSection'>
            <h2 id = 'trendingHeader'>What's Trending:</h2>
            <div id = 'trendingGrid'>
                <a><div class = 'trendingDiv'></div></a>
                <a><div class = 'trendingDiv'></div></a>
                <a><div class = 'trendingDiv'></div></a>
                <a><div class = 'trendingDiv'></div></a>
                <a><div class = 'trendingDiv'></div></a>
                <a><div class = 'trendingDiv'></div></a>
            </div>
        </section>
    </main>

    <%- include('partials/footer')%>
    
</body>
</html>