<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.typekit.net/onz0fng.css">
    <link rel = 'stylesheet' href = '/Stylesheets/generalStylesheet.css'>
    <link rel = 'stylesheet' href = '/Stylesheets/header.css'>
    <link rel = 'stylesheet' href = '/Stylesheets/footer.css'>
    <link rel = 'icon' href = '/Assets/lumaLogo_mini_120px.png'>
    <title>Luma Clothing</title>
    <link rel = 'stylesheet' href = 'Stylesheets/index.css'>
</head>

<body>
    
    <header>
        <a id = 'headerLogoLink' href = '/'>
            <img src = '/Assets/lumaLogo_full_v2.svg'>
        </a>
        
        <nav>
            <a href = '/category/tops'>Tops</a>
            <a href = '/category/pantsAndDresses'>Pants & Dresses</a>
            <a href = '/category/outerwear'>Outerwear</a>
            <a href = '/category/shoes'>Shoes</a>
            <a href = '/allClothing'>All Clothing</a>
        </nav>
    
        <img id = 'mobileNavArrow' src = '/Assets/roundedArrow_shadowColor.svg'> 
        <div id = 'mobileNav'>
            <img id = 'menuIcon' src = '/Assets/menuIcon.svg'>
    
            <form method = 'GET' id = 'searchContainer' role = 'search'>
                <img id = 'searchIcon' src = '/Assets/searchIcon.svg'>
                <img id = 'searchArrow' src = '/Assets/roundedArrow_shadowColor.svg'> 
                <label for = 'q' id = 'searchBarLabel'>Search</label>
                <input type = 'search' id = 'searchBar' name = 'query'>
                <input type = 'search' id = 'mobileSearchBar' name = 'query'>
                <img id = 'searchGoArrow' src = /Assets/arrow_primaryBrandColor.svg>
            </form>
        
            <a id = 'shoppingBagLink' href = '/shoppingBag'>
                <p id = 'numBagItems'>&nbsp;</p>
                <img src = '/Assets/shoppingBag.svg'>
            </a>
        </div>
    
    </header>
    <main>

        <div id = 'splashbox'>
            <a id = 'textBox' href = '/products/The Bowtie Blouse'>
                <h1>Meet The Bowtie Blouse</h1>
                <p id = 'caption'>A versatile take on the classic staple</p>
            </a>
        </div>

        <section id = 'trendingSection'>
            <h2 id = 'trendingHeader'>See What's Trending:</h2>
            <div id = 'trendingGrid'>
                <a class = 'trendingDiv' id = 'bluePeacoatDiv' href = '/products/The Blue Peacoat'><p class = 'caption'>The Blue Peacoat</p></a>
                <a class = 'trendingDiv' id = 'graphicTdiv' href = '/products/The Black Pumps'><p class = 'caption'>The Black Pumps</p></a>
                <a class = 'trendingDiv' id = 'oversizedBlazerDiv' href = '/products/The Lace Cami'><p class = 'caption'>The Lace Cami</p></a>
                <a class = 'trendingDiv' id = 'heelsDiv' href = '/products/The Block-Heeled Booties'><p class = 'caption'>The Block-Heeled Booties</p></a>
            </div>
        </section>
    </main>

    <footer>

        <nav id = 'footerNav'>
            <a href = '/'>
                <img src = '/Assets/lumaLogo_full_light_v2.svg' id = 'footerLogo'>
            </a>
            <a href = '/about'>About</a>
            <a href = '/contact'>Contact</a>
            <form id = 'emailSignUpDiv'>
                <p id = 'emailP'>Want more from Luma? Sign up to receive exlusive deals and offers straight to your inbox:</p>
                <div id = 'inputDiv'>
                    <input type = 'email' name = 'emailInput' id = 'emailInput' required placeholder = 'Email address'>
                    <a id = 'submitEmailBtn'><img id = 'arrowImg' src = '/Assets/arrow_pink.svg'></a>
                </div>
                <p id = 'whoops'>Whoops, that's not a valid email!</p>
            </form>   
        </nav>
    
    
        <nav id = 'mobileFooterNav'>
            <form id = 'emailSignUpDiv'>
                <p id = 'emailP'>Want more from Luma? Sign up to receive exlusive deals and offers straight to your inbox:</p>
                <div id = 'inputDiv'>
                    <input type = 'email' name = 'emailInput' id = 'emailInput' required placeholder = 'Email address'>
                    <a id = 'submitEmailBtn'><img id = 'arrowImg' src = '/Assets/arrow_pink.svg'></a>
                </div>
                <p id = 'whoops'>Whoops, that's not a valid email!</p>
            </form>
    
            <div id = 'navLinks'>
                <a href = '/about'>About</a>
                <a href = '/contact'>Contact</a>
            </div>
    
            <a href = '/'>
                <img src = '/Assets/lumaLogo_full_light_v2.svg' id = 'footerLogo'>
            </a>   
        </nav>
        <script src = '/JavaScript/footer.js'></script>
        <script src = '/JavaScript/search.js'></script>
        <script src = '/JavaScript/numItemsInBag.js'></script>
        <script src = '/JavaScript/mobileNav.js'></script>
    </footer>    
</body>
</html>