<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head')%>
    <link rel = 'stylesheet' href = 'Stylesheets/shoppingBagStylesheet.css'>
</head>

<body>
    <%- include('partials/header')%>
    <main>
        <h1>Your Bag</h1>

        <div class = 'bagProductTile'>
            <div class = 'productImg'></div>

            <h2 class = 'productTitle'><a href = '/product'>The Product Name</a></h2>

            <div class = 'info'>
                <div class = 'sizeGroup'>
                    <label class = 'infoLabel'>Size: </label>
                    <select name = 'selector'>
                        <option value = 'XS'>XS</option>
                        <option value = 'S'>S</option>
                        <option value = 'M'>M</option>
                        <option value = 'L'>L</option>
                        <option value = 'XL'>XL</option>
                    </select>
                </div>

                <div class = 'qtyGroup'>
                    <label class = 'infoLabel'>Quantity: </label>
                    <select name = 'selector'>
                        <option value = '1'>1</option>
                        <option value = '2'>2</option>
                        <option value = '3'>3</option>
                        <option value = '4'>4</option>
                        <option value = '5'>5</option>
                    </select>
                </div>
            </div>

            <div class = 'priceAndTrash'>
                <p class = 'price'>$25.99</p>
                <img src = 'Assets/trashcanIcon.svg' class = 'trashcanIcon'>
            </div>
        </div>

        <div class = 'bagProductTile'>
            <div class = 'productImg'></div>

            <h2 class = 'productTitle'><a href = '/product'>The Product Name</a></h2>

            <div class = 'info'>
                <div class = 'sizeGroup'>
                    <label class = 'infoLabel'>Size: </label>
                    <select name = 'selector'>
                        <option value = 'XS'>XS</option>
                        <option value = 'S'>S</option>
                        <option value = 'M'>M</option>
                        <option value = 'L'>L</option>
                        <option value = 'XL'>XL</option>
                    </select>
                </div>

                <div class = 'qtyGroup'>
                    <label class = 'infoLabel'>Quantity: </label>
                    <select name = 'selector'>
                        <option value = '1'>1</option>
                        <option value = '2'>2</option>
                        <option value = '3'>3</option>
                        <option value = '4'>4</option>
                        <option value = '5'>5</option>
                    </select>
                </div>
            </div>

            <div class = 'priceAndTrash'>
                <p class = 'price'>$25.99</p>
                <img src = 'Assets/trashcanIcon.svg' class = 'trashcanIcon'>
            </div>
        </div>

        <div class = 'bagProductTile'>
            <div class = 'productImg'></div>

            <h2 class = 'productTitle'><a href = '/product'>The Product Name</a></h2>

            <div class = 'info'>
                <div class = 'sizeGroup'>
                    <label class = 'infoLabel'>Size: </label>
                    <select name = 'selector'>
                        <option value = 'XS'>XS</option>
                        <option value = 'S'>S</option>
                        <option value = 'M'>M</option>
                        <option value = 'L'>L</option>
                        <option value = 'XL'>XL</option>
                    </select>
                </div>

                <div class = 'qtyGroup'>
                    <label class = 'infoLabel'>Quantity: </label>
                    <select name = 'selector'>
                        <option value = '1'>1</option>
                        <option value = '2'>2</option>
                        <option value = '3'>3</option>
                        <option value = '4'>4</option>
                        <option value = '5'>5</option>
                    </select>
                </div>
            </div>

            <div class = 'priceAndTrash'>
                <p class = 'price'>$25.99</p>
                <img src = 'Assets/trashcanIcon.svg' class = 'trashcanIcon'>
            </div>
        </div>

        <div id = 'checkOutBox'>
            <a id = 'checkOutBtn' href = '/checkout_yourInfo'>Check Out</a>
            <p id = 'totalParagraph'>Your Total: <span id = 'totalSum'>$67.99</span></p>
        </div>
        

        
    </main>
    <%- include('partials/footer')%> 
</body>
</html>