main{
    padding-top: 1px;
}

p{
    font-family: var(--sansSerifFonts);
    font-weight: 300;
    font-size: 12pt;
}

p a{
    font-weight: 500;
    text-decoration: underline solid 2px var(--white);
    color: var(--brandPrimary);
    transition: text-decoration 0.2s ease-in-out;
    padding: 0 3px;
    margin: 0 2px;
}

p a:hover{
    text-decoration: underline solid 2px var(--brandDarkPrimary);
}

#photoCredP{
    text-align: center;
}