main{
    padding-left: 25%;
    padding-right: 25%;
}

h1{
    margin-top: 100px;
}

p{
    font-family: var(--sansSerifFonts);
    font-weight: 300;
    font-size: 12pt;
}

p a{
    font-weight: 500;
    text-decoration: none;
    color: var(--brandPurple);
    transition: background-color 0.2s ease-in-out;
    padding: 0 3px;
    margin: 0 2px;
}

p a:hover{
    background-color: var(--brandMediumPink);
    border-radius: 4px;
}

/* p a:last-of-type{
    padding-right: 0;
} */