#filterBox{
    box-sizing: border-box;
    font-family: var(--sansSerifFonts);
    margin-bottom: 50px;
    font-weight: 300;
    padding: 8px 8px 8px 13px;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
}

#filterLabel{
    margin-right: 10px;
    color: black;
    font-weight: 400;
}

#categoryFilter{
    -webkit-appearance: none;
    appearance: none;
    box-sizing: border-box;
    font-family: var(--sansSerifFonts);
    font-weight: 300;
    color: var(--brandPrimary);
    border: none;
    border: 1px solid var(--brandDarkPink);
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--brandLightPink);
    padding: 2px 5px;
    width: 135px;
}

#categoryFilter option{
    appearance: none;
    font-family: var(--sansSerifFonts);
    font-weight: 300;
    color: black;
    cursor: pointer;
}

#filterIcon{
    transform: rotate(180deg);
    width: 10px;
    position: relative;
    right: 23px;
    bottom: 1px;
    cursor: pointer;
    pointer-events: none;
}

/* #categoryFilter option::selection{
    color: black;
    cursor: pointer;
    background-color: var(--brandDarkPink);
} */

#categoryFilter:focus{
    outline: 1px solid var(--brandPrimary);
    border-color: var(--brandPrimary);
}

@media(max-width: 1100px){
    #filterBox{
        margin-bottom: 15px;
    }
}

@media(max-width: 733px){
    h1{
        margin-bottom: 2vw
    }
}


@media(max-width: 515px){
    #filterLabel{
        font-size: 10pt;
        margin-top: 2px;
    }
    
    #categoryFilter{
        font-size: 9pt;
    }
}

@media(max-width: 400px){
    /* h1{
        padding: 50px 0 10px 0;
    } */
    
    #filterBox{
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    
    #filterLabel{
        font-size: 10pt;
        margin-bottom: 5px;
    }
    
    #categoryFilter{
        font-size: 9pt;
    }

    #filterIcon{
        transform: rotate(180deg);
        width: 10px;
        position: relative;
        right: 20px;
        bottom: 1px;
        cursor: pointer;
        pointer-events: none;
    }
}