main{
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

#breadcrumbs{
    font-family: var(--sansSerifFonts);
    font-size: 10pt;
    text-align: left;
    color: var(--gray);
    position: absolute;
    top: 100px;
    left: 100px;
    font-weight: 300;
}

#breadcrumbs a{
    text-decoration: 2px underline solid var(--white);
    color: var(--gray);
    transition: text-decoration 0.2s ease-in-out;
    padding: 1px 4px;
    border-radius: 3px;
}

#currLocation{
    font-weight: 500;
    padding: 1px 4px;
}

#breadcrumbs a:hover{
    text-decoration: underline solid var(--brandDarkPink) 2px;
}

h1{
    display: flex;
    justify-content: center;
    /* padding: 100px 0 60px 0; */
    font-size: 65pt;
    margin: 0 0 0 0;
}

/* #filteredBox{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0 auto;
} */

/* #filteredBox::after{
    content: '';
    flex: auto;
} */


/* .productBox{
    width: 350px;
    display: inline-block;
    margin: 25px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    text-decoration: none;
}

.productBox:hover{
    transform: scale(1.1);
}

.productBox:hover .productImgs{
    box-shadow: var(--boxShadow);
}

.productImgs{
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
    transition: box-shadow 0.2s ease-in-out;
}

.productLabels{
    font-family:var(--sansSerifFonts);
    font-size: 16pt;
    margin: 5px 0 0 0;
    color: black;
} */