main{
    margin-top: 75px;
    min-height: calc(100vh - 175px);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
}

#headingDiv{
    margin: 75px 0 30px 0;
}

#backToBagLink{
    position: relative;
    right: 250px;
    bottom: 40px;
    font-family: var(--sansSerifFonts);
    text-decoration: underline solid var(--white) 3px;
    color: var(--gray);
    height: 23px;
    transition: text-decoration-color 0.2s ease-in-out;
    font-size: 12pt;
    padding: 5px 7px;
    border-radius: 5px;
}

#backToBagArrow{
    height: 8.5px;
    transform: rotate(270deg);
    margin: 0 3px 1.5px 0;
}

#backToBagLink:hover{
    text-decoration: underline solid var(--brandDarkPink) 3px;
    /* background-color: var(--brandDarkPink); */
}

h1{
    padding: 0;
    font-size: 65pt;
    /* margin: 75px 0 30px 0; */
    margin-top: -23px;
    height: 65pt;
}


/* ------ Checkout Road Map -------*/

#checkoutRoadMap{
    display: grid;
    grid-template-areas:
        "yourInfo fillerDiv1 shipping fillerDiv2 payment fillerDiv3 confirmation"
        'dotLine1 longLine1 dotLine2 longLine2 dotLine3 longLine3 dotLine4';
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 10px;
    width: 50%;
}

#checkoutRoadMap p{
    font-family: var(--sansSerifFonts);
    font-size: 12pt;
    line-height: 100%;
    margin: 0;
    text-align: center;
}

/* #checkoutRoadMap p:nth-of-type(1){
    font-weight: 600;
} */

#yourInfoLabel{
    grid-area: 'yourInfo';
}

.fillerDiv:nth-of-type(1){
    grid-area: 'fillerDiv1';
}

#shippingLabel{
    grid-area: 'shipping';
}

.fillerDiv:nth-of-type(2){
    grid-area: 'fillerDiv2';
}

#paymentLabel{
    grid-area: 'payment';
}

.fillerDiv:nth-of-type(3){
    grid-area: 'fillerDiv3';
}

#confirmationLabel{
    grid-area: 'confirmation';
}

#yourInfoDot{
    grid-area: 'dotLine1';
    justify-content: flex-end;
}

#longLine1{
    grid-area: 'line1';
}

#shippingDot{
    grid-area: 'dotLine2';
}

#longLine2{
    grid-area: 'line2';
}

#paymentDot{
    grid-area: 'dotLine3';
}

#longLine3{
    grid-area: 'line3';
}

#confirmationDot{
    grid-area: 'dotLine4';
    justify-content: flex-start;

}

.dotLine{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
}


.circle{
    box-sizing: border-box;
    border: 5px solid var(--brandPurple);
    width: 20px;
    min-width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    resize: none;
}

/* .circle:nth-of-type(1){
    background-color: var(--brandPurple);
} */

.shortLine{
    background-color: var(--brandPurple);
    width: 50%;
    height: 5px;
    margin: 0;
}

.longLineBox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.longLine{
    background-color: var(--brandPurple);
    width: 100%;
    height: 5px;
}

/* ------ #checkoutForm -------*/
#checkoutForm{
    box-sizing: border-box;
    width: 400px;
    padding: 30px;
    background-color: var(--white);
    border-radius: 10px;
    margin: 50px 0 75px 0;
    font-family: var(--sansSerifFonts);
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    border: 1px solid var(--gray);
    box-shadow: 5px 5px 10px var(--brandDarkPink);
}

h2{
    margin: 0 0 40px 0;
    line-height: 100%;
    font-size: 26pt;
    width: 100%;
    /* color: var(--brandPurple); */
}

.formDiv{
    display: flex;
    margin-bottom: 35px;
    width: 100%;
}

#checkoutForm label{
    /* color: rgb(77, 76, 76); */
    color: var(--gray);
}

#checkoutForm input{
    appearance: none;
    box-sizing: border-box;
    font-weight: 300;
    font-family: var(--sansSerifFonts);
    font-size: 10pt;
    border: 1px solid var(--shadowColor);
    border-radius: 7px;
    padding: 2px 5px 4px 5px;
    line-height: 100%;
    background-color: var(--white);
    margin-left: 7px;
    flex: 1 1 auto;
}

#submitDiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    text-align: right;
    margin-top: 20px;
}

#orderBtn, #submitBtn, #backLink{
    appearance: none;
    box-sizing: border-box;
    appearance: none;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 11pt;
    line-height: 100%;
    transition: background-color 0.2s ease-in-out;
    border-radius: 5px;
    font-family: var(--sansSerifFonts);
    text-align: center;
    height: 40px;
}

#submitBtn, #backLink{
    background-color: var(--brandDarkPink);
    color: var(--white);
    width: 125px;
    /* font-weight: 300; */
}

#submitBtn:hover,
#backLink:hover{
    background-color: var(--brandPurple)
}

#submitBtn{
    /* padding: 6px 7px 9px 10px; */
    padding: 10px 9px 13px 16px;
}

#backLink{
    text-decoration: none;
    padding: 12px 16px 13px 9px;
}

.arrow{
    height: 7.5px;
    position: relative;
    bottom: 2px;
}

#nextArrow{
    transform: rotate(90deg);
    margin-left: 5px;
}

#backArrow{
    transform: rotate(270deg);
    margin-right: 4px;
}

#orderBtn{
    padding: 11px 14px 13px 14px;
    background-color: var(--gray);
    color: var(--white);
    /* border: 1px solid var(--brandDarkPink); */
    font-weight: 500;
    width: 150px;
    text-decoration: 1px solid var(--brandPurple);
    transition: text-decoration 0.3s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

#orderBtn:hover{
    background-color: var(--brandPurple);
    color: var(--brandLightPink);
}