main{
    background-color: var(--brandLightPink);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    padding-top: 0;
    margin-bottom: 40px;
}

form{
    font-family: var(--sansSerifFonts);
    padding: 40px;
    width: 400px;
    border-radius: 10px;
    background-color: var(--brandDarkPink);
    box-shadow: 0px 0px 10px var(--shadowColor);  
    border: 1px solid var(--shadowColor);
}

.formDiv{
    margin: 30px 0;
    display: flex;
}

.formDiv:first-of-type{
    margin-top: 0;
}

.formDiv:nth-of-type(4){
    align-items: flex-start;
}

.formDiv:last-of-type{
    margin-bottom: 0;
    justify-content: flex-end;
}

input, textarea{
    appearance: none;
    border: 1px solid var(--shadowColor);
    background-color: var(--brandLightPink);
    border-radius: 5px;
    font-family: var(--sansSerifFonts);
    font-weight: 300;
    padding: 0 5px 2px 5px;
    flex: 1 1 auto;
}

label{
    margin-right: 6px;
}

textarea{
    margin-left: 2px;
    resize: vertical;
}

#submit{
    appearance: none;
    cursor: pointer;
    border: none;
    font-family: var(--sansSerifFonts);
    font-weight: 500;
    font-size: 14pt;
    text-align: center;
    background-color: var(--gray);
    color: var(--brandLightPink);
    border-radius: 5px;
    line-height: 100%;
    padding: 7px 13px 10px 13px;
    align-self: flex-end;
    transition: background-color 0.2s ease-in-out;
}

#submit:hover{
    background-color: var(--brandPurple);
}