/* --------- GENERAL ---------*/
:root{
    --serifFonts: operetta-18;
    --sansSerifFonts: synthese;
    /* --brandPurple: #8C5074; */
    /* --brandPurple: #573047; */
    --brandPurple: #543447;
    --brandLightPurple: #af7096;
    --brandLightPink: #FFF3F0;
    --brandMediumPink: #FCDFD9;
    /* --brandDarkPink: #F5CAC1; */
    /* --brandDarkPink: #E3B7B1; */
    --brandDarkPink: #E2B4A6;
    --white: #FFFDFC;
    --shadowColor: #b8a7aa;
    --gray: #5c5b5b;
}

html{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--serifFonts);
}

main{
    box-sizing: border-box;
    margin-top: 75px;
    padding: 0 10% 100px 10%;
    min-height: calc(100vh - 175px);
    background-color: var(--white);
}

h1{
    display: flex;
    justify-content: center;
    padding: 75px 0 20px 0;
    font-size: 65pt;
    margin: 100px 0 0 0;
}

a{
    cursor: pointer;
}