/* --------- GENERAL ---------*/
:root{
    --serifFonts: operetta-18;
    --sansSerifFonts: synthese;
    --brandPurple: #8C5074;
    --brandLightPurple: #af7096;
    --brandLightPink: #fff7f5;
    --brandDarkPink: #f8dede;
}

html{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--serifFonts);
}

main{
    box-sizing: border-box;
    margin-top: 75px;
    min-height: calc(100vh - 175px);
}

a{
    cursor: pointer;
}