/* --------- GENERAL ---------*/
:root{
    --serifFonts: operetta-18;
    --sansSerifFonts: synthese;
    --brandPurple: #8C5074;
    --brandLightPurple: #af7096;
    --brandLightPink: #FFF3F0;
    /* --brandLightPink: #fff7f5; */
    /* --brandDarkPink: #FFE5E0; */
    --brandDarkPink: #FCE3DE;
    --white: #FFFDFC;
    --shadowColor: #D1BCC9;
    --gray: #6B6A6A;
}

html{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--serifFonts);
}

main{
    box-sizing: border-box;
    margin-top: 75px;
    min-height: calc(100vh - 175px);
}

a{
    cursor: pointer;
}