/* --------- MAIN ---------*/
main{
    background-color: var(--white);
}

h1{
    display: flex;
    justify-content: center;
    padding: 100px 0;
    font-size: 75pt;
    margin: 75px 0 0 0;
    background-color: var(--brandDarkPink);
}

#trendingSection{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px 13vw;
}

#trendingHeader{
    font-size: 40pt;
    margin-bottom: 30px;
    width: calc(300px*3 + 50px*2);
}

#trendingGrid{
    display: grid;
    grid-template-rows: 300px 300px;
    grid-template-columns: 300px 300px 300px;
    grid-gap: 50px;
    
    margin: 0;
}

.trendingDiv{
    background-color: var(--brandPurple);
    width: 300px;
    height: 300px;
    border-radius: 10px;
    transition: width 0.4s ease-in-out, height 0.4s ease-in-out, transform 0.4s ease-in-out, box-shadow 0.2s ease-in-out;
}

.trendingDiv:hover{
    width: 325px;
    height:325px;
    transform: translate(-10px, -10px);
    box-shadow: 10px 10px 15px var(--shadowColor);
}