#allProductsBox{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.productBox{
    width: 350px;
    display: inline-block;
    margin: 25px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    text-decoration: none;
    border-radius: 10px;;
    border: 0.5px solid var(--shadowColor);
}

.productBox:hover{
    transform: scale(1.1);
    box-shadow: var(--boxShadow);
}

.productImgs{
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid var(--shadowColor);
}

.productLabels{
    font-family:var(--sansSerifFonts);
    border-radius: 0 0 10px 10px;
    padding: 20px 15px;
    margin: -5px 0 0 0;
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.productNames{
    font-size: 14pt;
    font-weight: 300;
    line-height: 100%;
    margin: 0;
    color: black;
}

.priceLabels{
    line-height: 100%;
    margin: 0;
    font-size: 10pt;
    font-weight: 200;
    color: gray;
    letter-spacing: 2px;
}

@media(max-width: 1100px){
    .productBox{
        width: 300px; 
    }

    .productImgs{
        width: 300px;
        height: 300px;
    }

    .productNames{
        font-size: 12pt;
    }
}

@media(max-width: 900px){
    .productBox{
        width: 250px; 
        margin: 15px;
    }

    .productImgs{
        width: 250px;
        height: 250px;
    }

    .productLabels{
        padding: 15px 10px;
    }

    .productNames{
        font-size: 10pt;
    }

    .priceLabels{
        font-size: 9pt;
    }
}

@media(max-width: 704px){
    #allProductsBox{
        flex-direction: column;
    }

    .productBox{
        width: 70vw; 
        margin: 15px 0;
    }

    .productImgs{
        width: 70vw;
        height: 70vw;
    }

    .productNames{
        font-size: 3.5vw;
    }

    .priceLabels{
        font-size: 2.5vw;
    }
}

@media(max-width: 425px){
    #allProductsBox{
        flex-direction: column;
    }

    .productBox{
        width: 100%; 
        margin: 15px 0px;
    }

    .productImgs{
        width: 100%;
        height: 70vw;
    }

    .productNames{
        font-size: 4vw;
    }

    .priceLabels{
        font-size: 3vw;
    }
}