#breadcrumbs{
    font-family: var(--sansSerifFonts);
    font-size: 10pt;
    text-align: left;
    color: var(--gray);
    position: absolute;
    top: 100px;
    left: 100px;
    font-weight: 300;
}

#breadcrumbs a{
    text-decoration: underline solid var(--white) 2px;
    color: var(--gray);
    transition: text-decoration 0.2s ease-in-out;
    padding: 1px 4px;
    border-radius: 3px;
}

#currLocation{
    font-weight: 500;
    padding: 1px 4px;
}

#breadcrumbs a:hover{
    text-decoration: underline solid var(--brandDarkPink) 2px;
}


#popUp{
    position: fixed;
    top: 40px;
    right: 0;
    background: var(--white);
    padding: 20px;
    box-shadow: 5px 5px 10px var(--brandDarkPink);
    border-radius: 10px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 1s ease-in-out, top 1s ease-in-out;
}

#bagArrow{
    width: 20px;
    position: fixed;
    top: 47px;
    right: 25px;
    /* background-color: var(--brandPrimary); */
}

#thumbnailBox{
    width: 100px;
    height: 100px;
    background-size: cover;
    border-radius: 10px;
}

#popUpText{
    font-family: var(--sansSerifFonts);
    font-weight: 300;
    font-size: 10pt;
    margin-left: 20px;
    width: 100px;
}

#popUpProductName{
    font-weight: 500;
}


h1{
    display: flex;
    justify-content: center;
    padding: 75px 0 20px 0;
    font-size: 65pt;
    margin: 100px 0 0 0;
}

#productBox{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 525px;
    margin: 0 auto;
    overflow: visible;
    justify-content: center;
    align-items: center;
}

.scrollArrow{
    /* width: 20px; */
    height: 25px;
    margin: auto;
    cursor: pointer;
}

.scrollArrow:first-of-type{
    transform: rotate(270deg);
    margin-right: 30px;
}

.scrollArrow:last-of-type{
    transform: rotate(90deg);
    margin-left: 30px;
}

#carouselBox{
    display: flex;
    flex-wrap: none;
    width: 100%;
    height: auto;
}

#carousel{
    display: flex;
    align-content: flex-start;
    flex-wrap: nowrap;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    margin: 0;
    direction: ltr;
    position: relative;
    height: auto;
    object-fit: scale-down;
}

#carousel::-webkit-scrollbar{
    display: none;
}

.productImg{
    width: 100%;
    height: auto;
    margin-bottom: 0px;
    object-fit: contain;
}

#priceLabel{
    box-sizing: border-box;
    width: 100px;
    height: auto;
    font-family: var(--sansSerifFonts);
    font-size: 14pt;
    font-weight: 300;
    margin: 0 0 -20px 0;
    padding: 7px 17px 9px 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--gray);
    color: var(--brandLightPink);
    align-self: flex-end;
    text-align: center;
    margin-right: 50px;
}
#errorBoxBox{
    width: calc(100% - 100px);
    margin: 10px 0 0 0;
}

#errorBox{
    font-family: var(--sansSerifFonts);
    font-weight: 300;
    font-size: 10pt;
    text-align: center;
    margin: -5px 0 5px 0;
    color: var(--white);
    background-color: var(--white);
    width: 150px;
    padding: 6px 10px;
    border-radius: 7px;
    transition: background-color 0.2s ease-in-out;
    /* width: auto; */
}

.selectionBox{
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    width: calc(100% - 100px);
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0 30px 0;

}

#sizeLabel{
    font-family: var(--sansSerifFonts);
    font-size: 14pt;
    font-weight: 500;
    line-height: 100%;
}

.sizeBtn{
    appearance: none;
    box-sizing: border-box;
    min-width: 40px;
    height: 40px;
    background-color: rgb(221, 221, 221);
    border-radius: 50%;
    transition: background-color 0.2s ease-in-out;
    border: none;
    cursor: pointer;
    margin-left: -10px;
}

/* .sizeBtn:first-of-type{
    margin-left: 20px;
} */

.sizeBtn:hover,
.sizeBtn:focus,
.sizeBtn:active,
.sizeBtn:checked
{
    background-color: rgb(158, 157, 157);
}

.sizeLabels{
    margin: 0px 0 0 22px;
    text-align: center;
    line-height: 100%;
    width: 40px;
    font-family: var(--sansSerifFonts);
    color: black;
    font-size: 10pt;
    position: relative;
    left: 20.5px;
    top: 1.5px;
    pointer-events: none;
}

#addToBag{
    appearance: none;
    cursor: pointer;
    margin: 0px;
    padding: 7px 15px 9px 15px;
    font-family: var(--sansSerifFonts);
    font-weight: 300;
    font-size: 14pt;
    border: none;
    border-radius: 10px;
    background-color: var(--brandDarkPink);
    color: var(--brandLightPink);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;
    width: calc(100% - 100px);
}

#addToBag:hover
{
    background-color: var(--brandPrimary);
    /* border: 1px solid var(--gray); */
}
