@import url('Stylesheets/generalStylesheet.css');

main{
    padding: 0 20vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1{
    display: flex;
    justify-content: center;
    padding: 75px 0 20px 0;
    font-size: 65pt;
    margin: 75px 0 0 0;
}

.bagProductTile{
    box-sizing: border-box;
    width: 800px;
    height: 210px;
    background-color: var(--brandDarkPink);
    border-radius: 30px;
    padding: 30px;
    display: grid;
    grid-template-areas:
        'pic title'
        'pic info'
        'pic price';
    grid-template-columns: 200px 1fr;
    grid-column-gap: 40px;
    box-shadow: 5px 5px 10px rgb(192, 192, 192);
}


.productImg{
    grid-area: pic;
    height: 100%;
    width: 200px;
    background-color: var(--brandPurple);
    margin: auto;
}

.productTitle{
    grid-area: title;
    font-size: 25pt;
    font-weight: 600;
    margin: 0;
    font-family: var(--sansSerifFonts);
    font-weight: 600;
    margin-bottom: 20px;
}

.productTitle a{
    color: black;
    text-decoration: none;
}

.info{
    grid-area: info;
    display: flex;
    align-items: flex-start;
}

.info *{
    margin-right: 20px;
}


.infoLabel{
    font-size: 12pt;
    margin: 0 5px 0 0 ;
    font-family: var(--sansSerifFonts);
    font-weight: 500;
}

.infoSelected{
    font-weight: 300;
    font-size: 12pt
}

/* .qtyGroup{
    display: grid;
    grid-template-columns: 80px 60px;
    grid-template-rows: 25px;
} */

select{
    /* appearance: none; */
    box-sizing: border-box;
    border: 1px solid var(--brandPurple);
    border-radius: 5px;    
    font-family: var(--sansSerifFonts);
    line-height: 100%;
    font-weight: 300;
    font-size: 10pt;
    padding: 0px 1px 3px 3px;
    background-color: var(--brandLightPink);
    cursor: pointer;
}

option{
    appearance: none;
    background-color: var(--brandLightPink);
}

.priceAndTrash{
    grid-area: price;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.price{
    line-height: 100%;
    margin: 0 13px 0 0;
    font-family: var(--sansSerifFonts);
    font-size: 20pt;
    font-weight: 600;
}

.trashcanIcon{
    position: relative;
    bottom: 2px;
    width: 17px;
    cursor: pointer;
}