main{
    padding-bottom: 100px;
}

#noItemsMsg{
    text-align: center;
    font-family: var(--sansSerifFonts);
    font-weight: 500;
    font-size: 22pt;
    margin: 50px 0 30px 0;
    display: none;
    line-height: 115%;
}

#takeALook{
    font-family: var(--sansSerifFonts);
    font-weight: 300;
    font-size: 12pt;
    margin: 0;
    display: none;
    text-align: center;
    color: black;
    /* background-color: var(--brandLightPink);
    padding: 7px 14px;
    border-radius: 5px; */
}

#takeALook a{
    font-weight: 400;
    text-decoration: underline 2px solid var(--brandDarkPink);;
    color: black;
    transition: text-decoration 0.3s ease-in-out;
}

#takeALook a:hover{
    text-decoration: underline 3px solid var(--brandDarkPink);
}

.bagProductTile{
    box-sizing: border-box;
    height: 210px;
    background-color: var(--brandLightPink);
    padding: 30px;
    margin: 0 0 40px 0;
    display: grid;
    grid-template-areas:
        'pic title'
        'pic info'
        'pic price';
    grid-template-columns: 200px 1fr;
    grid-column-gap: 40px;
    }

.bagProductTile, #checkOutBox{
    border: 1px solid var(--shadowColor);
    border-radius: 20px;
    box-shadow: var(--boxShadow);
    width: 750px;
}


.productImg{
    grid-area: pic;
    height: calc(210px - 60px);
    width: 200px;
    object-fit: cover;
    background-color: var(--brandPrimary);
    margin: auto;
    border: 1px solid var(--shadowColor);
    border-radius: 5px;
}

.productTitle{
    grid-area: title;
    margin: 0 0 20px 0;
    font-family: var(--sansSerifFonts);
    font-weight: 300;
    font-size: 25pt;
    color: black;
}

.productTitle a{
    color: black;
    text-decoration: 3px solid underline var(--brandDarkPink);
    text-underline-offset: 2px;
}

.info{
    grid-area: info;
    display: flex;
    align-items: flex-start;
}


.infoLabel{
    font-size: 12pt;
    margin: 0 5px 0 0 ;
    font-family: var(--sansSerifFonts);
    font-weight: 500;
}

.sizeSpan{
    font-weight: 300;
    font-size: 12pt;
}


select{
    box-sizing: border-box;
    border: 1px solid var(--shadowColor);
    border-radius: 5px;    
    font-family: var(--sansSerifFonts);
    line-height: 100%;
    font-weight: 300;
    font-size: 10pt;
    padding: 0px 1px 3px 3px;
    background-color: var(--brandLightPink);
    cursor: pointer;
}

select:focus{
    outline: 1px solid var(--brandDarkPink);
}

option{
    appearance: none;
    background-color: var(--brandLightPink);
    font-weight: 300;
}

.sizeGroup{
    margin-right: 30px;
}

.priceAndTrash{
    grid-area: price;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.price{
    margin: 0 0px 0 13px;
    line-height: 100%;
    font-family: var(--sansSerifFonts);
    font-size: 16pt;
    font-weight: 500;
    letter-spacing: 3px;
    color: gray;
}

.trashcanIcon{
    position: relative;
    width: 17px;
    cursor: pointer;
}


#checkOutBox{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0px 0 0px 0;
    border-radius: 20px;
    padding: 25px;
    background-color: var(--brandLightPink);
}

#totalParagraph{
    box-sizing: border-box;
    font-family: var(--sansSerifFonts);
    font-size: 20pt;
    font-weight: 500;
    line-height: 100%;
    margin: 0;
    text-align: right;
    /* width: calc(100% - 200px);
    position: relative;
    right: 0; */
    /* border-radius: 20px;
    padding: 25px;
    box-shadow: 5px 5px 10px var(--shadowColor);
    background-color: var(--brandLightPink); */
}

#totalSum, #dollarSign{
    font-weight: 600;
    letter-spacing: 3px;
}

#checkOutBtn{
    appearance: none;
    cursor: pointer;
    box-sizing: border-box;
    background-color: var(--brandDarkPink);
    color: var(--white);
    /* outline: 1px solid var(--brandPrimary); */
    /* border: 1px solid var(--gray); */
    font-family: var(--sansSerifFonts);
    font-size: 13pt;
    font-weight: 500;
    line-height: 100%;
    border-radius: 10px;
    padding: 15px 20px 16px 20px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    text-decoration: none;
    min-width: 200px;
    text-align: center;
}

#checkOutBtn:hover{
    background-color: var(--brandPrimary);
    color: var(--brandLightPink);
}

@media(max-width: 940px){
    .bagProductTile, #checkOutBox{
        width: 100%;
    }

    .bagProductTile{
        grid-template-columns: 150px 1fr;  
        grid-column-gap: 30px;
    }

    .productImg{
        width: 150px;
    }

    .productTitle{
        font-size: 3.5vw;
    }
}


@media(max-width: 700px){
    #noItemsMsg{
        margin-top: 50px;
        font-size: 18pt;
    }

    #takeALook{
        font-size: 12pt;
    }

    .bagProductTile{
        height: auto;
        padding: 30px;
        grid-template-areas:
            'title title'
            'pic info'
            'pic price';
        grid-template-columns: 150px 1fr;  
        grid-column-gap: 30px;
    }

    .productTitle{
        font-size: 4.5vw;
        margin-top: -11px;
    }

    .info{
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
    }

    .sizeGroup{
        margin-bottom: 4.5px;
    }

    #totalParagraph{
        font-size: 16pt;
    }

    #checkOutBtn{
        min-width: auto;
        width: auto;
        padding: 15px 20px 16px 20px;
    }
}

@media(max-width: 520px){
    #noItemsMsg{
        margin-top: 50px;
        font-size: 15pt;
    }

    #takeALook{
        font-size: 11pt;
    }
}

@media(max-width: 520px){
    .bagProductTile{
        grid-template-areas:
            'title'
            'pic'
            'info'
            'price';
        grid-template-columns: 1fr;  
        grid-row-gap: 20px;
    }

    .productTitle{
        margin-top: -9px;
        margin-bottom: 0;
    }

    .productImg{
        width: 100%;
    }

    .info{
        justify-content: center;
        align-items: flex-start;
    }

    .infoLabel, .sizeSpan, select{
        font-size: 11pt;
    }

    .trashcanIcon{
        width: 13px;
    }

    .price{
        font-size: 14pt;
    }
}