
h1{
    margin-bottom: 75px;
}

#thankyouNote{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 40px;
    border-radius: 15px;
    background-color: var(--white);
    border: 1px solid var(--shadowColor);
    box-shadow: var(--boxShadow);
}

p{
    font-family: var(--sansSerifFonts);
    margin: 5px 0;
    text-align: center;
}

p:first-of-type{
    font-size: 17pt;
    color: black;
}

p:last-of-type{
    font-size: 13pt;
    font-weight: 300;
}

#returnBtn{
    appearance: none;
    cursor: pointer;
    border: none;
    box-sizing: border-box;
    font-family: var(--sansSerifFonts);
    font-weight: 300;
    font-size: 14pt;
    text-align: center;
    background-color: var(--brandDarkPink);
    color: var(--white);
    border-radius: 10px;
    line-height: 100%;
    padding: 15px 17px 18px 14px;
    width: 250px;
    transition: background-color 0.2s ease-in-out;
    margin-top: 60px;
    text-decoration: none;
    /* border: 1px solid var(--shadowColor); */
}

#returnBtn:hover{
    background-color: var(--brandPrimary);
}

#arrow{
    transform: rotate(270deg);
    height: 6px;
    margin: 0 5px 3px 0px;
}

@media(max-width: 700px){
    h1{
        margin-bottom: 4vw;
    }

    p:first-of-type{
        font-size: 16pt;
    }
    
    p:last-of-type{
        font-size: 12pt;
    }
}

@media(max-width: 530px){
    /* main{
        justify-content: space-between;
    } */

    h1{
        margin-bottom: 15vw;
    }

    p:first-of-type{
        font-size: 14pt;
    }
    
    p:last-of-type{
        font-size: 10pt;
    }

    #returnBtn{
        font-size: 12pt;
        width: 175px;
    }
}